<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">

<head>
<title>Freelancers</title>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
<script
	src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script
	src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
<script
	src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
<link rel="stylesheet" type="text/css" href="../../static/styles.css"
	th:href="@{/styles.css}">

</head>
<style>
.text-purple {
	color: var(- -purple);
}

.sticky-top {
	transition: padding 0.2s ease;
}

.stuck .sticky-top {
	padding-top: 15px;
}
</style>
<script>
    (new IntersectionObserver(function(e,o){
    if (e[0].intersectionRatio > 0){
        document.documentElement.removeAttribute('class');
    } else {
        document.documentElement.setAttribute('class','stuck');
    };
})).observe(document.querySelector('.position-absolute'));
    </script>

<body>
	<div th:replace="template :: header"></div>
	<section>
		<div class="container">
			<div class="row" >
				<div class="col-12 py-5">
					<div class="col-lg-8 offset-md-4">
						<form class="form" role="form" autocomplete="off" action="#"
							th:action="@{/freelancerPageSerach}" id="loginForm" method="get">
							<div class="row">
								<div class="col-lg-3 pb-3">
									<label for="exampleSt">Ville</label> <select
										class="form-control" id="exampleSt" name="ville" th:value="${ville}">
										<option th:value="'tout'">tout</option>
										<option th:value="'Agadir'">Agadir</option>
										<option th:value="'Casablanca'">Casablanca</option>
										<option th:value="'Eljadida'">Eljadida</option>
										<option th:value="'Fes'">Fes</option>
										<option th:value="'kenitra'">Kenitra</option>
										<option th:value="'Marrakech'">Marrakech</option>
										<option th:value="'Mohammedia'">Mohammedia</option>
										<option th:value="'Oujda'">Oujda</option>
										<option th:value="'Rabat'">Rabat</option>
										<option th:value="'Safi'">Safi</option>
										<option th:value="'Sale'">Sale</option>
										<option th:value="'Tanger'">Tanger</option>
										<option th:value="'Autre'">Autre</option>
									</select>
								</div>
								<div class="col-lg-3 pb-3">
									<label for="exampleSt">Compétences</label> <select
										class="form-control" id="exampleSt" name="competance" th:value="${competance}">
										<option th:value="'tout'">tout</option>
										<option th:value="'Aide médico'">Aide médico</option>
										<option th:value="'Baby sitting et Employés à domicile'">Baby sitting et Employés à domicile</option>
										<option th:value="'Beauté et bien être'">Beauté et bien être</option>
										<option th:value="'brochures et flyers'">brochures et flyers</option>
										<option th:value="'Decoration et amenagement interieur'">Decoration et amenagement interieur</option>
										<option th:value="'développeurs web'">développeurs web</option>
										<option th:value="'Electricité'">Electricité</option>
										<option th:value="'enseignement et formation'">enseignement et formation</option>
										<option th:value="'Hygiène et sécurité'">Hygiène et sécurité</option>
										<option th:value="'Jardinage et exterieur maison'">Jardinage et exterieur maison</option>
										<option th:value="'Mécanique automobile et entretien de véhicules'">Mécanique automobile et entretien de véhicules</option>
										<option th:value="'Peinture'">Peinture</option>
										<option th:value="'Plomberie'">Plomberie</option>
										<option th:value="'Menuiserie'">Menuiserie</option>
										<option th:value="'Rédaction et traduction'">Rédaction et traduction</option>
										<option th:value="'Traiteur et organisateurs de fêtes'">Traiteur et organisateurs de fêtes</option>
									</select>
								</div>
							</div>
							<button type="submit" class="btn btn-outline-success"
								id="btnLogin">Chercher</button>
						</form>
					</div>
				</div>
			</div>
			<span class="position-absolute"> 
			</span>
			<div class="row">
				<div th:replace="sectiontemplate :: aside"></div>
				<main class="col py-3">
					<div th:if="${size}">
					 Désolé ! aucun Freelancer ne correspaond a votre recherche<br>
					 pour la ville : <span th:text="${ville}"></span> et pour la competance :  <span th:text="${competance}"></span>
					</div>
					<th:block th:each="f: ${all}">
						<div class="container mt-3">
							<div class="media border p-3 w-100">
								<div class="media-body">
									<h4 th:text="${f[0].nom}"></h4>
									<div>
									<span th:text="${f[0].prenom}"></span>
									<span class="badge badge-primary float-right" th:text="${f[0].domaine}"></span>
									</div>
									<p th:text="${f[0].presentation}"></p>
									<div>
									Mobile : <span th:text="'0'+${f[0].mobile}"></span>
									<span class="float-sm-right">email : <span th:text="${f[0].email}"></span></span>
									</div>
									<div sec:authorize="hasRole('ROLE_PARTICULIER')"></div>
										<a th:href="@{/BBseeProfile(id=${f[0].idFreelancer})}"
										class="btn btn-primary">voir profil</a>
									
								    <span class="badge badge-success float-sm-right" th:text="${f[1]}"></span>
								</div>
							</div>
						</div>
					</th:block>
					<div class="container">
						<ul class="pagination">
							<li class="page-item" th:each="p,status:${pages}"><a
								class="page-link"
								th:href="@{/getPageFreelancers(pg=${status.index})}"
								th:text="${status.index}"></a></li>
						</ul>
					</div>
				</main>
				<div th:replace="sectiontemplate :: section"></div>
			</div>
		</div>
	</section>
	<div th:replace="template :: footer"></div>
</body>
</html>